# Default values for app.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
replicaCount: 1

image:
  repository: binarysimple/simple-users-service
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "0.0.3"

app:
  name: users-service
  version: "0.0.3"
  description: "Users REST API"

# потом когда-нить
# todo провека условий в самих шаблонах
#{{- $secretHook := .Values.hooks.preInstall.secret -}}
#{{- if and .Values.hooks.enabled $secretHook.enabled }}
# # Хуки порядка выполнения
# hooks:
#   enabled: true
#   preInstall:
#     - secret
#     - configmap
#   postInstall:
#     - migrationJob

# imagePullSecrets: []
# nameOverride: ""
# fullnameOverride: ""

# profiles: ""

# serviceAccount:
#   # Specifies whether a service account should be created
#   create: true
#   # Automatically mount a ServiceAccount's API credentials?
#   automount: true
#   # Annotations to add to the service account
#   annotations: {}
#   # The name of the service account to use.
#   # If not set and create is true, a name is generated using the fullname template
#   name: ""

# podAnnotations: {}
# podLabels: {}

# podSecurityContext: {}
#   # fsGroup: 2000

# securityContext: {}
#   # capabilities:
#   #   drop:
#   #   - ALL
#   # readOnlyRootFilesystem: true
#   # runAsNonRoot: true
#   # runAsUser: 1000

service:
  type: ClusterIP
  port: 8080

headlessService:
  enabled: false

# nginx:
#   namespace: ng
#   controller:
#     # Установить в namespace ng
#     scope:
#       enabled: true
#       namespace: ng
#     # podLabels:
#     # app.kubernetes.io/instance: { { .Release.Name } }
#     # app.kubernetes.io/part-of: { { .Chart.Name } }
#     serviceAccount:
#       create: true
#       name: nginx-ingress-serviceaccount
#     # Важно: Admission webhooks должны знать о namespace
#     admissionWebhooks:
#       enabled: true
#       namespaceSelector:
#         matchLabels:
#           kubernetes.io/metadata.name: ng

ingress:
  enabled: true
  className: "nginx"
  # controller:
  # namespace: "ng"
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: arch.homework
      paths:
        - path: /
          pathType: Prefix
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - arch.homework

# resources: {}
#   # We usually recommend not to specify default resources and to leave this as a conscious
#   # choice for the user. This also increases chances charts run on environments with little
#   # resources, such as Minikube. If you do want to specify resources, uncomment the following
#   # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
#   # limits:
#   #   cpu: 100m
#   #   memory: 128Mi
#   # requests:
#   #   cpu: 100m
#   #   memory: 128Mi

liveness:
  delay: 15
  timeout: 10
  path: /actuator/health/

autoscaling:
  hpa:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPU: 80
    targetMemory: ""

# # Additional volumes on the output Deployment definition.
# volumes: []
# # - name: foo
# #   secret:
# #     secretName: mysecret
# #     optional: false

# # Additional volumeMounts on the output Deployment definition.
# volumeMounts: []
# # - name: foo
# #   mountPath: "/etc/foo"
# #   readOnly: true

# nodeSelector: {}

# tolerations: []

# affinity: {}

metrics:
  enabled: false
  serviceMonitor:
    path:
    jobLabel: ""
    interval: 15s
    scrapeTimeout: ""

# Конфигурация базы данных - пароль в секрете
database:
  createSecret: true
  secretName: db-secret
  passwordKey: password
  password: "your_secure_password_here"
  hikari:
    pool:
      maxSize: 10
    minIdle: 2

postgresql:
  enabled: true
  auth:
    enablePostgresPasswordRotation: false
    username: "app_user"
    existingSecret: "db-secret"
    existingSecretPasswordKey: "password"
    database: "usersdb"
    createSecret: false
    enablePostgresUser: true
  primary:
    service:
      type: ClusterIP
      port: 5432
    persistence:
      enabled: true
      size: 2Gi
      storageClass: "standard"
  architecture: "standalone"
## Переменные окружения для users-service
#env:
#  DATASOURCE_URL: "jdbc:postgresql://postgres-postgresql:5432/usersdb"
#  DATASOURCE_USERNAME: "app_user"
#  DATASOURCE_PASSWORD: "app_password"
#  SPRING_PROFILES_ACTIVE: "kubernetes"
