# Default values for app.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
replicaCount: 1

image:
  repository: binarysimple/simple-users-service
  pullPolicy: IfNotPresent
  tag: "0.0.3"

app:
  name: users-service
  version: "0.0.3"
  description: "Users REST API"

service:
  type: ClusterIP
  port: 80
  targetPort: 8080
  # nodePort: 30080  # NodePort/LoadBalancer (opt)
  # loadBalancerIP: ""  # LoadBalancer (opt)
  annotations: {}

headlessService:
  enabled: false

ingress:
  enabled: true
  className: "nginx"
  labels: {}
  annotations: {}
  hosts:
    - host: arch.homework
      paths:
        - path: /
          pathType: Prefix
  tls: []

liveness:
  delay: 15
  timeout: 10
  path: /actuator/health/

autoscaling:
  hpa:
    enabled: false
    minReplicas: 1
    maxReplicas: 5
    targetCPU: 80
    targetMemory: ""

metrics:
  enabled: false
  serviceMonitor:
    path:
    jobLabel: ""
    interval: 15s
    scrapeTimeout: ""

serviceAccount:
  create: false   #ьеперь не нужен пока
  automount: true
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "0"
  name: ""

# Конфигурация базы данных - пароль
database:
  createSecret: true
  secretName: db-secret
  passwordKey: password
  hikari:
    pool:
      maxSize: 10
    minIdle: 2
  # Настройки миграции
  migration:
    enabled: true
    restartPolicy: Never # не перезапускать #OnFailure
    waitForPostgres: true # ждать postgre
    timeout: 300 # ожидание в секундах
    backoffLimit: 0 # количество попыток рестарта
    ttlSecondsAfterFinished: 120 # автоудаление Job через 2 минуту
    gracePeriod: 30
    debug: false # включить debug логи
    useConfigMap: true # использовать ConfigMap
    changeVersion: "27-01-changelog"  # версия миграции

postgresql:
  enabled: true
  auth:
    enablePostgresPasswordRotation: false
    username: "app_user"
    existingSecret: "db-secret"
    existingSecretPasswordKey: "password"
    database: "usersdb"
    createSecret: false
    enablePostgresUser: true
  primary:
    service:
      type: ClusterIP
      port: 5432
    persistence:
      enabled: true
      size: 2Gi
      storageClass: "standard"
  architecture: "standalone"
