# Default values for app.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
replicaCount: 1

image:
  repository: binarysimple/simple-users-service
  pullPolicy: IfNotPresent
  tag: "0.0.3"

app:
  name: users-service
  version: "0.0.3"
  description: "Users REST API"

service:
  type: ClusterIP
  port: 8080

headlessService:
  enabled: false

ingress:
  enabled: true
  className: "nginx"
  annotations: {}
  hosts:
    - host: arch.homework
      paths:
        - path: /
          pathType: Prefix
  tls: []

liveness:
  delay: 15
  timeout: 10
  path: /actuator/health/

autoscaling:
  hpa:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPU: 80
    targetMemory: ""

metrics:
  enabled: false
  serviceMonitor:
    path:
    jobLabel: ""
    interval: 15s
    scrapeTimeout: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Automatically mount a ServiceAccount's API credentials?
  automount: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

# Конфигурация базы данных - пароль в секрете
database:
  createSecret: true
  secretName: db-secret
  passwordKey: password
  password: "your_secure_password_here"
  hikari:
    pool:
      maxSize: 10
    minIdle: 2
  # Настройки миграции
  migration:
    enabled: true
    waitForPostgres: true # Ждать готовности PostgreSQL
    timeout: 300 # Таймаут ожидания в секундах
    backoffLimit: 4 # Количество попыток рестарта
    ttlSecondsAfterFinished: 120 # Автоудаление Job через 2 минуту
    gracePeriod: 30 # Время на graceful shutdown
    debug: false # Включить debug логирование
    useConfigMap: true # Использовать конфигурацию из ConfigMap

postgresql:
  enabled: true
  auth:
    enablePostgresPasswordRotation: false
    username: "app_user"
    existingSecret: "db-secret"
    existingSecretPasswordKey: "password"
    database: "usersdb"
    createSecret: false
    enablePostgresUser: true
  primary:
    service:
      type: ClusterIP
      port: 5432
    persistence:
      enabled: true
      size: 2Gi
      storageClass: "standard"
  architecture: "standalone"
  ## Переменные окружения для users-service
  #env:
  #  DATASOURCE_URL: "jdbc:postgresql://postgres-postgresql:5432/usersdb"
  #  DATASOURCE_USERNAME: "app_user"
  #  DATASOURCE_PASSWORD: "app_password"
  #  SPRING_PROFILES_ACTIVE: "kubernetes"
