# Реплики приложения
replicaCount: 1

# Образ приложения
image:
  repository: binarysimple/simple-users-service
  tag: "0.0.3"
  pullPolicy: IfNotPresent

# Конфигурация приложения
app:
  name: users-service
  port: 8080
  servicePort: 80
  
  # Енвивронмент
  env:
    springProfilesActive: "kubernetes"
    datasourceUrl: "jdbc:postgresql://{{ .Release.Name }}-postgresql:5432/usersdb"
    datasourceUsername: "app_user"

# Конфигурация базы данных - пароль в секрете
database:
  secretName: db-secret
  passwordKey: password
  password: "eW91cl9zZWN1cmVfcGFzc3dvcmRfaGVyZQ=="

# Включение PostgreSQL через зависимость
postgresql:
  enabled: true
  auth:
    enablePostgresPasswordRotation: false
    username: "app_user"
    existingSecret: "db-secret"
    existingSecretPasswordKey: "password"
    database: "usersdb"
    createSecret: false
    enablePostgresUser: true
  primary:
    service:
      type: ClusterIP
      port: 5432
    persistence:
      enabled: true
      size: 2Gi
      storageClass: "standard"
  architecture: "standalone"

# Включение миграций
migration:
  enabled: true
  jobName: "db-migrate"
  backoffLimit: 4

# Включение Ingress
ingress:
  enabled: true
  className: "nginx"
  host: "arch.homework"
  annotations: {}

# Конфигурация ConfigMap
config:
  application-kubernetes.yaml: |
    spring:
      datasource:
        url: ${DATASOURCE_URL}
        username: ${DATASOURCE_USERNAME}
        password: ${DATASOURCE_PASSWORD}
        driver-class-name: org.postgresql.Driver
        hikari:
          maximum-pool-size: 10
          minimum-idle: 2
    
      liquibase:
        enabled: false
    
      springdoc:
        api-docs:
          path: /v3/api-docs
        swagger-ui:
          path: /swagger-ui.html
        info:
          title: Users Service API
          version: 1.0.0
          description: REST API for managing users
          contact:
            name: Support Team
            email: support@example.com

  application-job.yaml: |
    spring:
      datasource:
        url: ${DATASOURCE_URL}
        username: ${DATASOURCE_USERNAME}
        password: ${DATASOURCE_PASSWORD}
        driver-class-name: org.postgresql.Driver
        hikari:
          maximum-pool-size: 10
          minimum-idle: 2
    
      liquibase:
        enabled: true
        change-log: classpath:db/changelog/db.changelog-master.yaml