spring:
  config:
    activate:
      on-profile: docker_job
  main:
    web-application-type: none  # ⚠️ Отключаем веб-сервер
  datasource:
    url: jdbc:postgresql://postgres:5432/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml