apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.app.name }}
  labels:
    app: {{ .Values.app.name }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Values.app.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.app.name }}
    spec:
      containers:
        - name: {{ .Values.app.name }}
          image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
          ports:
            - containerPort: {{ .Values.service.port }}
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: {{ .Values.profiles | default "kubernetes" }}
            # - name: DATASOURCE_URL
              # value: jdbc:postgresql://{{ .Release.Name }}-postgresql:5432/{{ .Values.postgresql.auth.database }}
            # - name: DATASOURCE_USERNAME
              # value: {{ .Values.postgresql.auth.username }}
            - name: DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.database.secretName }}
                  key: {{ .Values.database.passwordKey }}
            - name: SPRING_CONFIG_ADDITIONAL_LOCATION
              value: file:/app/config/
          volumeMounts:
            - name: config-volume
              mountPath: /app/config
              readOnly: true
          livenessProbe:
            httpGet:
              path: {{ .Values.liveness.path }}
              port: {{ .Values.service.port }}
            initialDelaySeconds: {{ .Values.liveness.delay }}
            periodSeconds: 10
            timeoutSeconds: {{ .Values.liveness.timeout }}
      volumes:
        - name: config-volume
          configMap:
            name: {{ .Values.app.name }}-config
            items:
              - key: application-kubernetes.yaml
                path: application-kubernetes.yaml